body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h2{
    font-size: 40px;
}


.flex-container{
    display: flex;
    margin-bottom: 200 px;
}
.first-half{
    width: 50%;
    padding-left: 3%;  
}
.second-half{
    width: 50%;
    padding-left: 3%;
}


.first-section {
    padding-top: 50px;
}

.right-image1{
padding-top: 50px;
text-align: center;
}
footer p{
    text-align: center;
}

.crimson-color {
    color: crimson;
}
.link-button{
    text-decoration: none;
    background-color: orange;
    padding: 10px 40px;
    border-radius: 20px;
}

.left-image2 img{
    width: 50%;
    text-align: right;
}
.second-half{
    padding-top: 40px;
}
.second-section{
    padding-right: 50px;
}



